[2014-05-05 22:28] ariutta opened #2 "LIMIT not working"
Hello,

Is the [LIMIT parameter](http://www.w3.org/TR/sparql11-query/#modResultLimit) supported? From the [SparqlQueryParser](https://github.com/LinkedDataFragments/Client/blob/2ff412c38a6d59b480bbfb470fbea1c7932b669d/lib/SparqlQueryParser.js#L10), it appears that it is, but when I run [this query](https://github.com/ariutta/wp-ldf/blob/master/first-ten.sparql), I get more results than I should.

[2014-05-05 23:18] ariutta opened #3 "Timeout error"
Hello,

Thanks for releasing this project. It seems really promising. I'm looking into using it to give biologists more options for querying the open-source data from our non-profit research group WikiPathways.org.

Right now, the software works great when I query [a small subset](https://github.com/ariutta/wp-ldf/blob/master/config-server-firebase-single.json) of our data, but when I try querying

[2014-05-06 00:15] ariutta opened #4 "Parsing GRAPH"
I'm assuming the [GRAPH keyword](http://www.w3.org/2001/sw/DataAccess/rq23/#queryDataset) is not yet supported because it doesn't appear in the regex [here](https://github.com/LinkedDataFragments/Client/blob/master/lib/SparqlQueryParser.js#L10), and I'm getting `Error: Could not parse query` when I try running a [query using GRAPH](https://github.com/ariutta/wp-ldf/blob/master/graph.sparql) on thi

[2014-05-06 17:01] #2 closed, assigned to nobody

[2014-05-06 18:36] #3 closed, assigned to nobody

[2014-05-30 11:03] akuckartz opened #5 "Date ranges / intervals"
Are there or will there be support for date ranges, such as events between 2012-11-28 and 2014-02-05? In other words: will such filtering be done by the client or by the server (or are both possible)?

If it has not yet been decided: the example interval above could be devided by the client into such fragments:
- 2012-11-28
- 2012-11-29
- 2012-11-30 (and maybe 2012-11-31)
- 2012-12 (whole month)
-

[2014-06-07 01:57] ameensol opened #6 "How to use the client as a Node.js library?"
It wasn't really clear from the docs if/how this module can be used from a node.js script, though I imagine it is possible.

Can it be used with require?

[2014-06-07 09:16] #6 closed, assigned to nobody

[2014-11-05 16:37] rubensworks opened #9 "Unclear error when having unbound variables."
Executing a query like the following:

[code]

Will throw `TypeError: Cannot call method 'replace' of undefined` at the `error` event of the SparqlIterator.
Most likely because the variables `?initial ?final` are defined at the SELECT clause, but not inside the WHERE clause.

Link to the hdt dataset + ldf-server config to replicate this error: http://cl.ly/082N451L2o0u

---

Possible solutions cou

[2014-12-31 12:57] akuckartz opened #10 "Support for GeoSPARQL"
GeoSPARQL support would be great. The subset supported by Apache Jena probably would be enough to make this useful.

[2015-01-01 02:39] elf-pavlik commented on #10
:+1: i wonder if it relates in any way to https://github.com/geojson/geojson-ld/issues/28

[2015-01-01 09:54] akuckartz commented on #10
@elf-pavlik Yes, that discussion is relevant, but I think that most of the work regarding LDF does not depend on the decisions which have yet to be made there.

[2015-01-02 18:10] warpr opened #11 "getFragmentByPattern() doesn't return data for second call"
Hello Ruben,

When I call `client.getFragmentByPattern(pattern);` with the same pattern twice I only get results from the first call.  From looking at the code it looks like the request is cached, but the iterator for the second response is exhausted and doesn't start at the beginning again.

Am I doing something wrong or is there a bug somewhere?

I have a small example of my problem at:

https:/

[2015-01-02 18:47] RubenVerborgh commented on #11
Hi Kuno, great that you're using this library, and thanks for reporting this. It is definitely a bug.

I'm now investigating the specifics, but it has to do with timing. For us, it's also a common case to request a fragment multiple times. However, your specific bug seems to be triggered when the two fragments are requested immediately in succession; i.e., if you add a timeout on the second call,

[2015-01-02 19:16] RubenVerborgh commented on #11
Fixed in the `devel` branch, will be in the next patch release. Thanks again for spotting this!

[2015-01-02 19:16] #11 closed

[2015-01-02 19:39] warpr commented on #11
Thanks for the super fast fix!  I've confirmed it works in my test when I use the ```develop``` branch.

[2015-03-08 16:30] bergos opened #12 "Split Triple Pattern Client / Query Engine"
@RubenVerborgh I'm using this package to do SPARQL queries on [RDF-Ext Stores](https://github.com/bergos/Client.js). This package may be useful for any library with a triple/quad pattern like interface to provide a SPARQL interface. But it may be useful to bundle it a little bit different:
- LinkedDataFragment client
  - query engine
  - triple pattern client

What do you think about it?

Also I w

[2015-03-08 16:33] RubenVerborgh commented on #12
Hi @bergos, this is certainly interesting, and has been one of our mid-term goals. Doing so will take us some time, however. (Since this activity is not core research, we have to prioritize other things).

Technically speaking, it is no problem of course: we already use dependency injection in the code, so instead of a remote Triple Pattern Fragments client, a local store can be plugged in.

[2015-03-19 22:13] bergos commented on #12
@RubenVerborgh I added named graph support to my [fork](https://github.com/bergos/rdf-query-engine/commit/6d3e3090cb8ab7f88e5f9130144bb058eaf7cac7). I have to write some complex nested SPARQL query tests to test the edge cases, but it works already for RDF-Ext. It shouldn't break existing code. So maybe you want to merge the patch.

[2015-03-19 22:18] RubenVerborgh commented on #12
@bergos Great to hear!

To merge this in the TPF client, we'd first need to decide how to deal with graphs. The current TPF interface does not have graphs, and there are multiple options for adding them. E.g., maybe the interface _is_ the graph, or maybe it should have a fourth element.

[2015-07-08 14:11] ali1k opened #13 "Support `COUNT` queries (and aggregations in general)"
Hi there,
I am trying to use the LDF client and listening to data event.
As I understood I cannot send aggregate queries like 'Count' directly. I am looking for a solution to get the total number of triples from my query. I already see it in the debugger but cannot access the value!
Could you please advise me how to get the total number of triples on client request?

p.s. I am adding support for L

[2015-07-08 14:15] mielvds commented on #13
@RubenVerborgh fyi, this count feature was also asked by @coreation for an in-house project.

[2015-07-08 14:16] RubenVerborgh commented on #13
Hi Ali,

Basically, `COUNT` still needs to be implemented in the client, and this involves implementing aggregations. It's possible, we just haven't gotten round to it.

As @mielvds says, we also have internal incentives to do so, so this will be on the agenda in the near future.

Very intrigues by ld-r.org, great that you're adding LDF support. Keep us updated, and we'll list it at http://linkedd

[2015-07-08 14:27] ali1k commented on #13
thanks for your swift response. I am looking forward to see the support for aggregate functions on LDF-client. In the meantime, I will try to simply use the LDF server 'void:triples' with simple triple patterns.

[2015-07-08 14:28] RubenVerborgh commented on #13
Great! Just note that `void:triples` might be approximate, so you might have to be careful.

[2015-07-10 14:08] mielvds commented on #9
Note that the SPARQL specification says the following:
If the evaluation of the expression produces an error, the variable remains unbound for that solution but the query evaluation continues. http://www.w3.org/TR/2013/REC-sparql11-query-20130321/#assignment

So wether it is unbound or not, it should be there, so option 1 seems the only valid option according to the spec.

[2015-07-12 14:02] RubenVerborgh commented on #9
Interesting find, @mielvds. I would expect a difference though between an expression that can never be evaluated (because the variable does not occur anywhere else in the query) or an expression which has a variable that has no value (e.g., it comes from an `OPTIONAL` clause). A quick search in the spec didn't reveal anything though.

[2016-01-05 23:36] dckc opened #14 "more concrete, motivating example?"
This linked data fragments stuff looks like an interesting approach to the federated query problem, but I'm struggling to get my head around it.

Perhaps the example in the README could be more concrete and motivating? "You can execute SPARQL queries against Triple Pattern Fragments" is not something I know I want to do until after I'm already sold. Something more concrete would be "find the numbe

[2016-01-05 23:38] dckc opened #15 "slides of #LD talk, please?"
I'm interested in the [ISWC2014 talk](http://videolectures.net/iswc2014_verborgh_querying_datasets/) talk, but not interested enough to sit through a video yet. I'd like to flip through the slides.

[2016-01-06 00:01] dckc commented on #14
The example in [Federated SPARQL queries in your browser](http://ruben.verborgh.org/blog/2015/06/09/federated-sparql-queries-in-your-browser/) is the sort of thing I was looking for.

I'm still not quite sure I understand the protocol (I wish W3C specs used ordinary sum-of-products datatypes to specify stuff rather than all this MUST stuff. oh well).

[2016-01-06 07:09] RubenVerborgh commented on #15
Hi @dckc, you can find the slides at http://www.slideshare.net/RubenVerborgh/querying-datasets-on-the-web-with-high-availability. If you have any questions or comments, don't hesitate to ask!

[2016-01-06 07:09] #15 closed

[2016-01-06 10:17] RubenVerborgh commented on #14
Hi @dckc, thanks for your feedback!

Glad you found the blog post, and we should probably just link it from the README (and summarize some of its points). I'll follow up our progress on that in this issue.

Indeed. Selling the idea is what we currently try at [the website](http://linkeddatafragments.org/). The README was intended to be the technical explanation of what you can do. However, I do se

[2016-01-06 16:54] dckc commented on #15
OK thanks... I looked them over; the material there is familiar from other places and doesn't fill the gap in my understanding, though. More on that separately (perhaps as a comment on the spec)...

[2016-01-06 16:59] RubenVerborgh commented on #15
Alright. Another possibility is the group mailing list public-linked-data-fragments@w3.org.

[2016-06-02 17:33] hariharshankar opened #16 "HTTP Proxy Support"
Is there a way to tell the client to use an HTTP proxy?

By default, it does not recognize either the system wide HTTP proxy settings, or the proxy set using the environment variables http_proxy, https_proxy.

[2016-06-03 07:43] cKlee commented on #16
additional note: The [request](https://www.npmjs.com/package/request#proxies) module should take care of the environment variables. But somehow it doesn't within the client. Setting a proxy option [here](https://github.com/LinkedDataFragments/Client.js/blob/master/lib/util/HttpClient.js#L60-L67) will succeed. But setting a proxy option in a config.json will not.

Tried this:

config.json:

[code]

[2016-06-04 07:30] RubenVerborgh commented on #16
There is currently no support for HTTP proxies, but we can add this as a feature.

@cKlee We have [stopped using `request`](https://github.com/LinkedDataFragments/Client.js/commit/913fb5c25a0803f9cc1418c8fb38b1ea58c4a87f) because it led to socket problems.

[2016-07-05 12:52] pfolz opened #17 "LIMIT issue with lib asynciterator"
Hi,

With @gmontoya we tested your new iterator library with your ldfClient and we found an issue with the LIMIT operator.

An issue occurs when the size of the limit equal the size of the total number of results for this query.

**Ex**: consider a query that produces 5 results in total, if we add LIMIT 5 we will have the following error:
[code]

But if we set the limit to 2 or 10 the error will n

[2016-07-05 16:24] RubenVerborgh commented on #17
Thanks for reporting, will investigate!

[2016-07-05 16:43] RubenVerborgh commented on #17
I'm afraid I can't reproduce. I've tried:
[code]
but all of them succeed consistently.

Do you have another use case?

[2016-07-05 16:46] RubenVerborgh commented on #17
Oh wait, I was working with a slightly newer version of AsyncIterator. Apparently [this seemingly unrelated commit](https://github.com/RubenVerborgh/AsyncIterator/commit/8ddcb30fd445377967d1f29cda2c2943d3dc5daf) fixed the issue. I will release a new version that includes this commit.

[2016-07-05 16:52] RubenVerborgh commented on #17
Fixed in [AsyncIterator 1.0.1](https://github.com/RubenVerborgh/AsyncIterator/releases/tag/v1.0.1).

[2016-07-05 16:52] #17 closed

[2016-08-02 13:47] pieroit opened #18 "[browser version] jQuery.ajax(...).success is not a function"
Hello,
first of all kudos for the LDF project. I totally agree on the necessity of a smart client with triplestores providing data and not running SPARQL queries.

I'm trying the LDF-client browser version. Built following this instructions:
- `npm install ldf-client`
- enter the `node_modules/ldf-client` folder and run `npm install` and `npm run browserify`
- loaded the file `ldf-client-browser.j

[2016-08-02 14:06] pieroit commented on #18
Resolved by using the same jQuery version used [here](http://client.linkeddatafragments.org/scripts/ldf-client-jquery-packaged.js), via `npm install jquery@2.1.0`.

Another note which may be useful for the docs, this will not print results in the console on Chrome:
[code]
This will:
[code]
I don't know why, I guess the callback must not be a nested function :|

[2016-08-02 17:21] RubenVerborgh commented on #18
Hi @pieroit, thanks for reporting!

jQuery 3.x changed its Promise interface to be standards-compliant. I fixed compatibility in 4dc3e19df97b6a64d5f61681bb5ae7c21839a7d4 some time ago, but this commit is still in the [develop](https://github.com/LinkedDataFragments/Client.js/commits/develop) branch, due to be released soon. As you mention, using jQuery 2.x also works.

You're right about `results.

[2016-08-02 17:21] #18 closed

[2016-09-23 00:38] rezacsedu opened #19 "ldf-client-browser.js file cannot be generated"
Hi,

While I am issuing the "**npm run browserify**" command to generate the **ldf-client-browser.js** file, I am getting a strange error that says:

Please include the following file with any support request: npm ERR!  /var/www/html/SPARQL/npm-debug.log

Could you please provide some insights how to overcome this error?

Thnaks,
Reza

[2016-09-23 06:31] RubenVerborgh commented on #19
Dear @rezacsedu,

I will need a bit more context. Can you copy the full error message? (This part is not the most relevant for us.)

Ruben

[2016-09-23 17:58] rezacsedu commented on #19
Hi,
Here is the full error message.

======================================
$ npm run browserify
npm ERR! Linux 3.13.0-87-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "run" "browserify"
npm ERR! node v6.6.0
npm ERR! npm  v3.10.3
npm ERR! path /root/package.json
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall open

npm ERR! enoent ENOENT: no such file or directory, open '/root/pac

[2016-09-23 18:51] RubenVerborgh commented on #19
Did you run the command inside of the folder where you cloned the repository? The error message seems to indicate otherwise.

[2016-09-23 18:55] rezacsedu commented on #19
Yes, I did run the command inside the cloned directory. Even, I am getting the above error therefore the ldf-client-browser.js file is not getting generated.
Please note I followed two sources [1, 2] but getting same error messages.

1. https://www.npmjs.com/package/ldf-client
2. https://github.com/LinkedDataFragments/jQuery-Widget.js

[2016-09-23 19:17] RubenVerborgh commented on #19
Mmm, strange, because it is exactly the error message I get when running `npm run browserify` in a different folder.

Can you try the following steps and copy/paste the output?

[code]

[2016-09-26 12:04] rezacsedu commented on #19
Hi,

I have tried the steps you mentioned and now the ldf-client-browser.js file has been generated.
However, the problem is when I am run the project in a web--server, I am not getting list of data set and the list of example queries.

Please refer the following image as the screenshot:
[https://github.com/rezacsedu/RDF4UV2/blob/master/LOD.png](url)

[2016-09-26 12:06] RubenVerborgh commented on #19
Great to hear that!

That's about [https://github.com/LinkedDataFragments/jQuery-Widget.js](jQuery-Widget) then; feel free to open an issue there. However, it most likely comes down to running `./queries-to-json.

[2016-09-26 12:06] #19 closed

[2016-09-26 12:09] rezacsedu commented on #19
Hi,

You mean, do I need to execute the **queries-to-json** script?

[2016-09-26 12:10] RubenVerborgh commented on #19
Yes.

[2016-09-26 12:13] rezacsedu commented on #19
Well, I got the following error upon executing the command:

**-bash: ./queries-to-json: Permission denied**

I don't know why, because I am running the command as root with full privileges. Please suggest.

[2016-09-26 12:15] RubenVerborgh commented on #19
As I explained above, this discussion really belongs in [jQuery-Widget](https://github.com/LinkedDataFragments/jQuery-Widget.js).

The error message you get is because, for some reason, `queries-to-json` isn't marked as executable on your machine (it is in the repository). `chmod +x queries-to-json` should fix it.

[2016-09-26 12:17] rezacsedu commented on #19
Excellent. Now it's working. Thanks a million. Really appreciated.

[2016-11-08 18:29] cKlee opened #20 "Querying VIAF leads to errors"
Got errors when querying VIAF via the browser client:

http://client.linkeddatafragments.org/#datasources=http%3A%2F%2Fdata.linkeddatafragments.org%2Fviaf&query=SELECT%20%20%3Fviaf_id%20%0AWHERE%20{%0A%20%20%20%3Fviaf_id%20%20schema%3AgivenName%20%22Larry%22%20.%0A}

[2016-11-08 19:01] cKlee opened #21 "More sources leads to less results"
Maybe I overlooked something here. But wit a query like

http://client.linkeddatafragments.org/#datasources=http%3A%2F%2Fdata.linkeddatafragments.org%2Fviaf&query=SELECT%20DISTINCT%20%3Fviaf_id%20%20%3Fviaf_etc%0AWHERE%20{%0A%20%20%20%3Fviaf_id%20%0A%20%20%20%20%20%20schema%3AgivenName%20%22Justitia%22%20%3B%0A%20%20%20%20%20%20%3Fp%20%3Fviaf_etc%20.%0A}

I get 28 results. As soon as I add another

[2016-11-08 21:24] RubenVerborgh commented on #20
This is a problem on the server side: it sends invalid Turtle (likely a problem with the VIAF HDT file). However, we should handle such errors more nicely on the client as well.

[2016-11-08 21:27] RubenVerborgh commented on #21
Good find!

Interestingly, it's non-deterministic as well: the second query gives me sometimes 23 results, and sometimes 26 (but never 28, which is correct).

I suspect this is something with event handling; perhaps the `end` event of the non-relevant datasource bubbling through.

[2016-11-11 11:03] RubenVerborgh commented on #20
[This commit](https://github.com/LinkedDataFragments/jQuery-Widget.js/commit/688eb9c9238708a5e5120e708c132bca591e2dc7) already stops the flood of errors in the browser client.

[2016-11-11 11:49] RubenVerborgh commented on #20
[This commit](https://github.com/LinkedDataFragments/Client.js/commit/6566a552bf5d84003549349854b11e61f5686329) fixes recursive parser errors being thrown.

[2016-11-11 12:38] cKlee opened #22 "operators isiri, isblank and isliteral"
Is there any reason why this is not implemented yet?

https://github.com/cKlee/Client.js/blob/master/lib/util/SparqlExpressionEvaluator.js#L164-L172

[2016-11-11 12:42] RubenVerborgh commented on #22
Time ;-)

[2016-11-11 12:43] RubenVerborgh commented on #22
Also, major rewrite of the expression engine going on behind the scenes, so no major investments are planned in the current expressions (but are welcome).

[2016-11-11 12:51] cKlee commented on #22
So when you're rewriting pull requests to the old code is counterproductive?

[2016-11-11 12:54] RubenVerborgh commented on #22
Didn't say that :-) Feel free to make a PR; it would need (minimal) tests though.

[2016-11-11 12:56] RubenVerborgh commented on #21
Fixed in 46df9aedaff2019dbcd21d3ae6f62389254817b0.

[2016-11-11 12:56] #21 closed

[2016-11-11 13:04] RubenVerborgh commented on #9
This was fixed by fa7b517a7aebfcf6311a2b0dd14f4d005f13aeeb.

[2016-11-11 13:04] #9 closed

[2016-11-11 13:14] cKlee commented on #22
Sure tests! I'm not familiar with the JS testing tools. How do I run this https://github.com/LinkedDataFragments/Client.js/blob/master/test/util/SparqlExpressionEvaluator-test.js ? Is it easy like http://mochajs.org/#getting-started ?

[2016-11-11 13:19] RubenVerborgh commented on #22
Great! If you run `npm test`, everything will be tested.

To only test this specific part, do `mocha test/util/SparqlExpressionEvaluator-test.js` (after having run `npm install -g mocha`).

[2016-11-11 13:20] cKlee commented on #22
Thanks!

[2016-11-11 13:24] mielvds commented on #22
Careful, there is already effort on this: https://github.com/LinkedDataFragments/Client.js/tree/feature-more-filter-funtions

[2016-11-11 13:31] cKlee commented on #22
Ah ok! No hurry. Question answered. I close this.

[2016-11-11 13:31] #22 closed

[2016-11-11 13:38] RubenVerborgh commented on #22
Sorry @mielvds and @cKlee, I was aware of that branch, but not the functions that had been implemented in this. We can still merge that branch, while the rewriting effort goes on.

[2016-11-13 18:13] RubenVerborgh commented on #20
The client itself is fixed: it now deals correctly with incorrect datasources. I'll also repair the VIAF datasource such that it is valid again.

[2016-11-13 18:13] #20 closed

[2016-12-01 19:54] cbuil opened #24 "Core dumped in Watdiv queries"
Using the latest Git TPF version and I found an error. I have configured a NGINX cache server, and I'm using the Wativ benchmark (10M triples dataset). The query I used is at the following (next comes the core dumped error). It does not happen if I use node --max_old_space_size=4096 -- bin/ldf-client...

SELECT * WHERE {  ?v4 <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://db.uwaterloo.c

[2016-12-01 19:59] RubenVerborgh commented on #24
Certain WatDiv queries lead to huge intermediary results with the current algorithm (and those of other engines as well); I guess this is exactly what you're seeing here.

Giving more memory to the client is the most sensible thing (until we have other algorithms). Perhaps we should make `max_old_space_size=4096` the default.

[2016-12-01 20:01] cbuil commented on #24
I will do that.

Cheers

Carlos

[2016-12-02 12:42] cbuil opened #25 "Node complains about EventEmitter leak"
Hi, node is complaining about a possible memory leak. The query executes OK though. I have configured a cache server and I used the 10M watdiv dataset with the following the query:

SELECT * WHERE {  ?v0 <http://db.uwaterloo.ca/~galuc/wsdbm/hasGenre> <http://db.uwaterloo.ca/~galuc/wsdbm/SubGenre42> .  ?v0 <http://xmlns.com/foaf/homepage> ?v1 .  ?v0 <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>

[2016-12-02 12:50] RubenVerborgh commented on #25
It's a harmless warning message: the number of listeners has to do with the number of connected triple patterns. However, I'll ensure the confusing warning disappears.

[2016-12-04 14:40] migalkin opened #26 "UTF-8 is not supported?"
I have a Fedbench query CD4:
[code]

which has been rewritten to execute the following triple pattern against LinkedMDB endpoint in LDF server:
[code]

The Client throws the error:
[code]

Does it mean that LDF Client does not support UTF-8?

[2016-12-04 14:44] RubenVerborgh commented on #26
Hi @migalkin, no, it means that the dataset was wrongly encoded. Note that

[code]

is an invalid URI in Turtle syntax; it should be

[code]

My guess is that on the server side, you have used an HDT file to serve LinkedMDB? And that this HDT file was generated with `rdf2hdt in.nt out.hdt` rather than `rdf2hdt -f turtle in.nt out.hdt`? The `-f turtle` option is necessary, because the N-Triples par

[2016-12-04 14:54] migalkin commented on #26
Thank you @RubenVerborgh
I used the `-f turtle` option and now the query works fine [and the size of the hdt file is 20 times less =) ]

[2016-12-04 15:04] migalkin opened #27 "Chains of binary filters are not executed"
Hello, still trying out some queries against the data in the LDF server using the Client.
I'm trying to evaluate the following query:

[code]

The Client throws the error:
[code]

So we can't submit more than 2 arguments in the FILTER clause?

[2016-12-04 15:10] RubenVerborgh commented on #27
This seems to be a problem of the parser. The parser somehow sees this as an OR function with 10 parameters, whereas it actually are 9 OR functions with 2 parameters each.

[2016-12-04 15:37] RubenVerborgh commented on #26
Excellent 😄

[2016-12-04 15:37] #26 closed

[2016-12-04 15:38] RubenVerborgh commented on #26
=> Do double check whether all the triples you want are in there though (i.e., `hdtInfo out.hdt` should show the correct number of total triples). When SERD encounters an error, the conversion process stops (most of the time with an error, sometimes without unfortunately).

[2016-12-04 16:17] migalkin commented on #26
@RubenVerborgh actually you are right, the dump created with the broken NT parser created an HDT file with all the triples from the LinkedMDB dump, but
`rdf2hdt -f turtle linkedmdb.nt linkedmdb.hdt`
 results only in 160142 triples.

So what I do:
[code]
Then running hdtInfo:
[code]

The original linkedmdb dump has:
[code]

The problem is that HDT parser doesn't produce any error and writes that  t

[2016-12-04 16:19] RubenVerborgh commented on #25
I don't get the error with my WatDiv 10M dataset. Could you share yours?

[2016-12-04 16:21] RubenVerborgh commented on #26
Yes, I just fixed that in https://github.com/rdfhdt/hdt-cpp/commit/d3b02a965589a250d5c1ffa7f8ba6d9000d83513

The solution is to ensure that the input file is valid, by passing it through a tool such as SERD first.

[2016-12-04 18:14] RubenVerborgh commented on #27
Fixed by https://github.com/RubenVerborgh/SPARQL.js/commit/2789d3f27eae364ce73ec03b7a7659dd30c2f126, which will be installed by 84027fcd21fd8ae90fb7c0aef9b21f8c21b0fd43.

[2016-12-04 18:14] #27 closed

[2016-12-04 21:26] migalkin commented on #26
@RubenVerborgh I used those regexps we found before to clean the entire LinkedMDB and retain all the triples, so that SERD and HDT parser never throw an error, so the parsing went fine.
However, when I attach a new hdt to the server I have an error during setting it up:
`This software cannot open this version of HDT File`
Server issue?

[2016-12-04 21:36] RubenVerborgh commented on #26
Not a server issue, but possibly an outdated [HDT-Node version](https://github.com/RubenVerborgh/HDT-Node). Can you post your HDT file somewhere so I can check?

[2016-12-04 21:38] RubenVerborgh commented on #26
Never mind, I found a testcase myself. On it.

[2016-12-04 21:41] migalkin commented on #26
In case you need https://drive.google.com/file/d/0B3uXlknE4eJrZ19hem03M1VKVkk/view?usp=sharing

[2016-12-05 22:26] RubenVerborgh commented on #26
@migalkin I found the bug and proposed a fix: https://github.com/rdfhdt/hdt-cpp/pull/43

Summary: you built your HDT file using the latest `master`, which writes an (in my opinion) incorrect version number into the HDT file. The `stable` branch does not have this problem.

[2016-12-06 11:42] migalkin commented on #27
I'm using the npm version of the client, so how can I apply the /develop branch of the client in my app of it's not yet in npm?

[2016-12-06 12:41] RubenVerborgh commented on #27
What you can do in package.json is:

[code]

to use the develop branch of this repo.

[2016-12-09 09:10] RubenVerborgh commented on #26
@migalkin This bug is now fixed; the laster version of hdt-cpp now generates compatible HDT files again.

[2016-12-09 12:56] migalkin commented on #26
@RubenVerborgh great, thanks for the update

[2016-12-09 13:18] migalkin opened #28 "Client crashes with the JavaScript heap out of memory error"
I'm running a C4 query from the set of Complex queries against Fedbench. The query is:
[code]

All the LDF clients which received the rewritten queries out of this crashed with the following errors.
DBpedia:
[code]

Drugbank:
[code]

In other Complex queries two more clients crashed.
Linkedmdb:
[code]

NYTimes:
[code]

I'd never expect it would crash with OOM error.

[2016-12-09 13:21] RubenVerborgh commented on #28
I expect that this happens with queries that have a lot of intermediary results.

Could you try `node --max_old_space_size=4096 -- bin/ldf-client …`?

Possible duplicate of #24.

[2016-12-09 13:23] RubenVerborgh commented on #28
One additional question:

I assume you have used a federated query planner to split up the SPARQL query. Just as a side note, you know that the client also supports federation out of the box? (But maybe you were comparing different federation algorithms of course.)

[2016-12-09 13:36] migalkin commented on #28
@RubenVerborgh yes, we know that the client supports federation out of the box. We are testing a new federation technique and compare it to (including) LDF.
How to specify this parameter for Docker container runtime?
[code]

[2016-12-09 13:38] RubenVerborgh commented on #28
Great, curious to see those results :+1:

My colleague @rubensworks can help you with Docker.

[2016-12-09 15:25] rubensworks commented on #28
@migalkin I'm not sure what you mean exactly with that Docker command parameter, could you elaborate? Perhaps a different issue should be created if this is not related to this client crash.

The [readme](https://github.com/LinkedDataFragments/Client.js#optional-running-in-a-docker-container) contains two examples on how to evaluate queries with the Docker container.

[2016-12-09 15:26] RubenVerborgh commented on #28
@rubensworks The question is how we can start the LDF client with `node --max_old_space_size=4096 -- bin/ldf-client …` in Docker.

[2016-12-09 22:27] rubensworks commented on #28
You can simply override the Docker entrypoint when running, where you can append any of the regular options afterwards.
For example:
`docker run -it --rm --entrypoint="node --max_old_space_size=4096 -- bin/ldf-client" ldf-client ...`

[2016-12-10 18:42] migalkin commented on #27
The problem occured again, on fedbench CD, LD and LS queries. We encounter two types of errors:
[code]

The second includes `:` in URIs
[code]
In both cases the error code is empty, so we can't recognize the exact place of the error.
The only suggestion about the 2nd error type is about colons in URIs, but serdi did not consider it as an error during HDT parsing.

[2016-12-10 18:43] migalkin commented on #28
@rubensworks Thank you for the suggestion, the following config worked for Docker:
``` CMD ["node", "bin/www", "max_old_space_size=4096"] ```

[2016-12-10 18:51] RubenVerborgh commented on #27
Does the underlying Client.js implementation give anything? Because `exception on query` and `Code:` are not strings I recognize from the Client.js software, so they must be from your software. Is there any extra output we can rely on (there should be).

[2016-12-10 18:51] #28 closed

[2016-12-10 19:19] migalkin commented on #27
The only error is produced by the KEGG endpoint:
[code]

[2016-12-10 19:25] RubenVerborgh commented on #27
It seems that the parser considers `http://bio2rdf.org/cas:198153-51-4` an invalid URL; that shouldn't be the case. Let me investigate.

[2016-12-10 19:28] RubenVerborgh commented on #27
Hmmm, I cannot reproduce this in the parser. Would you be able to send me the contents of the fragment page that produces this error?

[2016-12-10 19:29] RubenVerborgh commented on #27
Also, which prefixes do you use?

[2016-12-10 19:31] RubenVerborgh commented on #27
The error message seems to indicate that a spacing character appears after `http://bio2rdf.org/cas:`, which would make the URI invalid.

[2016-12-10 19:37] migalkin commented on #27
What do you mean under the fragment page?

We spot the problem with kegg at the fedbench LSD7 query:
[code]

The endpoint can't answer the following decomposed and all the subsequent queries:
[code]

There are no URIs with a space to my knowledge.
Also, no prefixes are used in this case.

[2016-12-10 19:47] RubenVerborgh commented on #27
The error you get (`Unexpected "<http://bio2rdf.org/cas:" on line 38.`) is because, at some point, the client receives an HTTP response from the server that has an invalid URI on line 38. So one of the resources such as `http://kegg-ldh:3000/kegg?subject=http%3A%2F%2Fbio2rdf.org%2Fcpd%3AC00853&predicate=http%3A%2F%2Fbio2rdf.org%2Fns%2Fbio2rdf%23xRef` has an error on line 38.

But the decomposed qu

[2016-12-11 11:45] RubenVerborgh commented on #27
I did the following:
- Downloaded and loaded http://downloads.linkeddatafragments.org/hdt/fedx/kegg.hdt into the server (npm ldf-server 2.2.1)
- Executed your query above (npm ldf-client 2.0.3)
- Executed the query `SELECT * WHERE  { ?s ?p ?o }` to retrieve all triples

I did not run into the error.

I wonder if you are perhaps a) using a different HDT file b) using a different parser version. To

[2016-12-11 11:48] RubenVerborgh commented on #27
BTW Also a note regarding your experiment: the LDF client does currently not optimize `FILTER`, so the filter will be applied after the whole BGP has been evaluated, which might not be the best choice. If you would like us to implement such an optimization, please get in touch.

[2016-12-13 00:26] migalkin commented on #27
Used the HDT file by the link, the parser version is
[code]
The heap memory issue when evaluating FILTERs against large sets of triples was apparently solved by increasing max_old_space parameter.

[2016-12-13 00:30] migalkin opened #29 "Socket hang up"
Still doing experiments on Fedbench on top of LDF HDT.
The datasets are taken from the LDF website.

Now we observe sporadic crashes of the LDF client with a strange error 'Socket hang up'.
For example, Linkedmdb endpoint:
[code]

Then, the unified all-in-one Fedbench:
[code]

What might be the source of the error?

[2016-12-13 13:02] RubenVerborgh commented on #27
I cannot reproduce the parsing issue then, I'm afraid. If you could somehow show me that line 38, that would help.

[2016-12-13 13:05] RubenVerborgh commented on #29
That happens when the server becomes overloaded. In order to avoid this, I recommend:

- starting the server with sufficient threads (`ldf-server.config.json 3000 4` to start the server on port 3000 with 4 threads)
- putting an HTTP cache in front of the server

TPF has been designed with caching in mind, so a caching server is a must for a good comparison.

[2016-12-13 13:07] RubenVerborgh commented on #29
For your information, here is the [cache config from `fragments.dbpedia.org` for NGINX](https://gist.github.com/RubenVerborgh/6d4ac975f0f36b6d296295dd2160c50f).

[2017-01-16 16:52] pietercolpaert opened #31 "Single URI for multiple fragments result in hash collision"
# Problem

A single URI for multiple fragments result in hash collision. The federated client assigns an “empty” label to a certain fragment, and therefore also to similar fragments.

## Reproduce

Example query that works:
http://client.linkeddatafragments.org/#datasources=http%3A%2F%2Fdata.linkeddatafragments.org%2Flinkedgeodata;http%3A%2F%2Fpieter.pm%2Fparkingtest.ttl&query=SELECT%20*%20WHERE%2

[2017-01-16 21:43] RubenVerborgh commented on #31
The data in `http://pieter.pm/parkingtest.ttl` currently contains
[code]
but the [correct predicate](https://www.hydra-cg.com/spec/latest/triple-pattern-fragments/#definition) is `void:triples`. Fixing this yields the expected result.

The error is only triggered with a least two triple patterns, because this is when the count metadata is necessary for the correct join error.

[2017-01-16 21:43] #31 closed

[2017-03-09 12:34] barthanssens opened #32 "First page requested twice on CONSTRUCT"
Not sure if this a client or server issue, but I've noticed that the demo on http://client.linkeddatafragments.org often (always ?) sends the initial request twice when the query is a CONSTRUCT / LIMIT

E.g. select source "DBpedia 2014", query for ten results using `CONSTRUCT WHERE { ?s ?p ?o. } LIMIT 10`,  execution log shows
[code]
If the limit is changed to, say, 1000, the following pages (?pag

[2017-03-09 12:47] RubenVerborgh commented on #32
Hi @barthanssens, the first request is to discover the interface; the second request to get the data. Since in your example, the data is `?s ?p ?o`, those fragments are the same; with a more specific query, it will be different requests.

Note that the request will be cached anyway, so it will not actually be sent out twice.

[2017-03-09 13:19] barthanssens commented on #32
Ok, thanks for the info

[2017-03-09 13:19] #32 closed

[2017-05-11 16:18] cnstntn-kndrtv opened #33 "UnionIterator self._error undefined"
Hi. Im trying to use UNION operator. And found some error in 19 line in /lib/sparql/UnionIterator.js
self._error undefined.
Can you help me with this?

[2017-05-11 16:25] RubenVerborgh commented on #33
This was a leftover from older code, updated with the new code now.

[2017-05-11 16:25] #33 closed

[2017-05-11 17:43] cnstntn-kndrtv commented on #33
I created little app. And some times (some times not) i see this error. Can you please help me with this?
There is that app - https://github.com/cnstntn-kndrtv/ldf-client-test
I started to creating some ontologies (dictionaries) about russian grammar and sense of words. First is ontology-based dictionary of russian grammatical forms. http://ldf.kloud.one/ontorugrammaform. It works on linked data f

[2017-05-11 17:44] RubenVerborgh commented on #33
The cause of the error was a bug, which has been fixed in 05917d99953438290d6325cd96112f4e5c31364a above.

[2017-05-11 17:49] RubenVerborgh commented on #33
Okay then: in order to fix your code, you need to add the following to your code:

[code]

[2017-05-11 17:56] cnstntn-kndrtv commented on #33
Thank you

[2017-06-29 10:46] larsgsvensson commented on #25
I get that, too, with a federated query over some fairly large datasets (157 MTriples,  236 MTriples and DBPedia as a TPF Server on top of the DBPedia SPARQL endpoint). The ldf-client also throws a FATAL ERROR with the message `JavaScript heap out of memory` as described in #28. I tried to increase the heap space with `max_old_space_size=4096` as described in #24 but that didn't help

[2017-06-30 01:22] RubenVerborgh commented on #25
@larsgsvensson Could you add details for the query you are aiming to evaluate? I suspect that it is a query for which the client creates a suboptimal plan, resulting in cartesian products and hence a memory blow-up.

[2017-06-30 06:47] larsgsvensson commented on #25
Sorry @RubenVerborgh, I had got the CLI syntax wrong (passing the `max_old_space_size` argument to the wrong process). Now it works fine.

Thanks!

[2017-07-07 05:30] pheyvaer opened #34 "HTTPS is redirected to HTTP"
When doing a query to an LDF server with https, the fragments are requested via http instead of https.
When the client is created, a request with https is done (as shown in the console), but once fragments are requested http is used. Chrome and Firefox complain about this if the initial page that is using the LDF client is being served using https with the error about 'mixed content'.

[2017-07-07 05:56] rubensworks commented on #34
From where are you querying?

Browsers can complain if you are doing requests from a http webpage to a https webpage, so you may want to use a https-enabled webclient like this one: https://query.linkedsoftwaredependencies.org/

Command-line should work fine in any case.

[2017-07-07 05:58] pheyvaer commented on #34
I'm querying from a Webpage that is being served via https, but I say to the client to query the server with https, so why does it happen via http then?

Which version of the ldf-client are using at LSD then?

Yes, command line indeed works.

[2017-07-07 06:06] rubensworks commented on #34
Then that won't be the problem...

One other possible cause might the an incorrectly configured baseURL. Does it contain https?
You can check this by manually checking the next page url's when doing a `curl -H 'Accept: text/turtle'` request.
(Also, if you ever tested it on the non-https endpoint, make sure to properly clean your cache)

LSD is using the jQuery Widget of this version: https://githu

[2017-07-07 06:09] pheyvaer commented on #34
OK, that narrows down the problem to the server, instead of the client I think.
The config of the server has https in the baseurl, but the next page url's use http.

[2017-07-07 06:10] rubensworks commented on #34
Can you show me your config file.

[2017-07-07 06:24] rubensworks commented on #34
For reference: adding `"protocol": "http"` didn't solve the issue.

@RubenVerborgh Any idea on what else could cause this?

[2017-07-07 08:10] mielvds commented on #34
Weird, never had this issue. Can't be the client idd, because it just follows links. Is there a redirect involved? Could also be NGINX messing things up...

[2017-07-07 08:12] pheyvaer commented on #34
Nginx redirects http to https, but that would not explains why the RDF returned by the LDF server has links without https, right?

[2017-07-07 08:16] rubensworks commented on #34
Perhaps NGINX is not forwarding all required information.
@pheyvaer Could you try adding these lines to your `location` block inside your NGINX site config?

[code]

[2017-07-07 08:16] pheyvaer commented on #34
That information is already there.

[2017-07-07 08:17] rubensworks commented on #34
Ok, then I'm out of ideas again for the moment :/

[2017-07-07 08:17] mielvds commented on #34
it does right? NGINX translates the protocol, but the server doesn't know that, so it keeps creating http links?

[2017-07-07 08:18] mielvds commented on #34
What does NGINX do exactly? Input: HTTPS, Output HTTP?

[2017-07-07 08:26] pheyvaer commented on #34
[code]

So the requests are send to the ldf server running on port 3000 and if http is used, go for https.
I tried setting the `proxy_pass` to https, but that doesn't work, because I don't have ssl set up on the ldf server (should that also happen there?).

[2017-07-07 08:28] rubensworks commented on #34
That looks ok.
On the LDF server you don't have to setup SSL, only make sure your baseURL includes https and `"protocol": "http"` is present.

[2017-07-07 08:34] mielvds commented on #34
I think we bumped on an edge case here. The HTTPS support in the LDF Server does not take HTTPS proxies into account.

Two solutions would be:
- Let NGINX rewrite the controls in the response to HTTPS (not really a solution, inefficient)
- add a proxy setting to the server which only does the URL construction, but not activate the SSL layer (because NGINX does that)

[2017-07-07 08:36] rubensworks commented on #34
This edge case should've been fixed in https://github.com/LinkedDataFragments/Server.js/commit/7fbdae8ed7b34721e0240cbbb8a60d228144037a I think.

We do exactly the same thing as @pheyvaer on http://data.linkeddatafragments.org/ and https://fragments.linkedsoftwaredependencies.org/

[2017-07-07 08:59] mielvds commented on #34
Not exactly. The problem is this:

https://github.com/LinkedDataFragments/Server.js/blob/master/lib/LinkedDataFragmentsServer.js#L17

and

https://github.com/LinkedDataFragments/Server.js/blob/master/lib/controllers/TriplePatternFragmentsController.js#L68

So this is the scenario that occurs

- Client requests `https://x/fragment`
- NGINX turns it into `http://x/fragment`
- LDF server receives `ht

[2017-07-07 10:39] pheyvaer commented on #34
OK, so the problem with the https in the results of the LDF server seems to be fixed. I used `baseUrl` instead of `baseURL`, so the URL was not read at all... 😫 Maybe we could add some information to the output when the server is started that states which baseURL, if any, is used?

I'm gonna have a look at the client specific code to see if any issues are still present there, and I'll report back.

[2017-07-07 11:05] mielvds commented on #34
I guess we should include that in https://github.com/LinkedDataFragments/Server.js/blob/master/bin/ldf-server#L180

Also, it's correctly in the documentation :)

Anyways, for what the client is concerned, this issue is closed.

[2017-07-07 11:05] #34 closed

[2017-07-07 11:37] rubensworks commented on #34
I'll include this in the `feature-lsd` branch, as I'm making changes related to that anyways.

[2017-07-17 09:21] pheyvaer opened #35 "STR operator supported?"
When executing a query with `STR` in a `FILTER` I don't get neither a response or error. The fucntions of `results.on('data')` and `results.on('end')` are never called. When trying to use `STRSTARTS` I get the error that this operator is not supported, so I guess `STR` should work then?

[2017-07-17 09:22] pheyvaer commented on #35
Might be related to #30 ?

[2017-07-17 09:27] mielvds commented on #35
it is

[2017-07-17 10:42] pheyvaer commented on #35
Indeed. I tried again and noticed that it has to check > 40.000 triples. So this is why it is taking so long. Something else though, should it not `return isLiteral(a) ? literalValue(a) : '"' + a + '"';`, because `str` should return the literal value. `str("\"Ghent\"@en")` should be the same as  `str("\"Ghent\"")`, no?

[2017-07-17 11:22] mielvds commented on #35
Yes, as is the case in the more spec-compliant https://github.com/LinkedDataFragments/Client.js/blob/feature-more-filters/lib/util/SparqlExpressionEvaluator.js#L282

[2017-07-17 11:26] pheyvaer commented on #35
OK, I'll close this issue then as it will be resolved when merging #30.

[2017-07-17 11:26] #35 closed

[2017-08-21 11:38] cecton opened #36 "Need some help finding my way into the code"
I've been asked on a project to do a variation of the server and the client to allow using relative paths instead of complete URLs.

So, on the server, instead of returning ids like `http://data.example.org/dbpedia-sparql#dataset` it will returns `#dataset`. Then the client needs to remember what is the base URL of the server (`http://data.example.org/dbpedia-sparql`) and prefix it on all the rela

[2017-08-21 18:19] RubenVerborgh commented on #36
Hi @cecton,

If I may ask so, why? I can't imagine any circumstance in which this is a good idea.

The internal libraries, in particular N3.js, work with full IRIs, because the RDF model does.
The notion of a relative URL only exists in serializations, not in memory.

I.e., you _can_ write `#dataset` in a document `http://example.org/my/doc`. However, that URL will _not_ mean `<#dataset>` but  `<h

[2017-08-23 11:38] cecton commented on #36
Thanks a lot for your answer @rubensworks

The reason why we would need relative paths is because the service will possibly be served both over http and https, and possibly on multiple domains and the path may vary. I don't know the use cases so I can't really explain more than that.

For the hostname and port I know I can override the Host HTTP header. It would be better though if I had the possi

[2017-08-23 14:14] RubenVerborgh commented on #36
That's a good use case indeed!

We'll only need to change the server code though, the client will automatically follow.
E.g., if the client sees `#dataset` on `http://example.org/my/path`, it will read `http://example.org/my/path#dataset`, and if it sees the same on `https://example.org/my/path`, it will read `https://example.org/my/path#dataset`.

Even better if you could use the actual standard

[2017-08-23 14:30] cecton commented on #36
Okay then I will see what I can do to implement the Forwarded behavior.

For the varying path I will check that on my side.

[2017-08-23 14:31] RubenVerborgh commented on #36
Great, pull requests to the server are welcome. If you're stuck, let me know.

[2017-08-23 14:31] #36 closed

[2017-08-23 20:08] RubenVerborgh commented on #36
BTW I've done something similar in [the Node.js Solid server](https://github.com/solid/node-solid-server/pull/533/files#diff-52372b0ef4c105189ace50f5bc993efaR45) recently, in case you want inspiration. (It's not rocket science though, but just FYI.)

[2017-08-28 09:01] cecton commented on #36
@RubenVerborgh I just checked the "Forwarded" HTTP header because that was the first time I heard about it but I think there is a problem with it. It implements the For, the Host and the Proto parts of the X-Forward-* headers. Host and Proto are really what we want, I suppose we can't do anything with the For part. Unfortunately the specifications of the Forwarded header for the "for=" part is a b

[2017-08-28 13:52] cecton commented on #36
I actually found a library that handle the parsing of the Forwarded HTTP header: https://github.com/lpinca/forwarded-parse

I can do it too if you want.

[2017-08-28 13:56] RubenVerborgh commented on #36
Let's hope not, it is a standardized header 😄

That's right, it's the standardized form of the `X-Forward-*` headers and, hence, the way forward.

That doesn't matter, the `for` part is optional. You only need to add what you want to use.

That's not needed, we can just set the `Forwarded` header:

[code]

Not in the long term, hopefully. `X-*` headers ought to disappear.

Yes, fallback is a good

[2017-09-18 21:49] obkhan opened #37 "simple query does not work with NQUADs file source"
Hi,

I'm trying to get a simple query to work with NQUADS .. it does not seem to return from the client. It does seem to from a rdf triple store ??? How can I troubleshoot this and how what am I doing wrong?

SELECT ?S ?P ?O  WHERE { ?S ?P ?O} LIMIT 3
to return results, it

Execution log - nothing returns ... after executing
Requesting http://fragments.edmcouncil.org/fibo_1
Requesting http://fragm

[2017-09-18 22:09] RubenVerborgh commented on #37
The problem is that your datasource exposes triples in the non-default graph, which is not supported by the current client (but is supported in a fork). The client is going through all pages to find sufficient triples in the default graph, which it never does.

Note how `curl -H 'Accept: application/n-quads' 'http://fragments.edmcouncil.org/fibo_1'` does not contain a single triple in the default

[2017-09-18 22:26] obkhan commented on #37
Interesting, appreciate the quick response!!!!  How could I change it to the default graph instead?
I'm confused as I did not specify a separate graph, and checked the nquads file itself and the graph is set to "."
Admittedly, I don't totally understand the output of the curl but I did see this:
<http://fragments.edmcouncil.org/fibo_1> <http://www.w3.org/ns/hydra/core#totalItems> "23852"^^<http://

[2017-09-19 07:29] rubensworks commented on #37
@obkhan The current LDF client and server only support triples, i.e., quads in the default graph. So unless you change your dataset to remove all graphs, which will result in data loss, there is no way to query that properly at the moment.

We do however have support for this in a separate branch for the [server](https://github.com/LinkedDataFragments/Server.js/tree/feature-qpf-latest) and the [cl

[2017-09-29 12:53] mielvds opened #38 "Client process sometimes doesn't terminate"
After executing a query, the query ends (i.e., the resultset is closed), but the process hangs.
At first I thought `fragments.dbpedia.org` ends, but `data.linkeddatafragments.org/dbpedia` doesn’t. But after a second run `fragments.dbpedia.org` also didn't terminate.
Thus, it seems to be a race condition of some sort and not related to the server.

I'm using node v8.2.1 and the latest master

[2017-10-08 04:15] obkhan commented on #37
Hi - I think I maybe get the obvious now, we would have to use something like riot / rapper to convert the nquads to triples , which would be lossy?
Any guess when to expect the support for nquads will be released?
If it is far off, what would I need to do for the pre-release versions would the configuration be different?

[2017-10-08 06:22] rubensworks commented on #37
If all goes well, we'll release the next version somewhere this month, but no promises there.

You can definitely try the QPF branch yourself, nothing has changed to the configuration files there. Note that for the next release, the configuration files _will_ change slightly, but more information on that will follow.

[2017-10-09 17:05] jacoscaz opened #39 "How to close?"
Possibly related to #38.

I have a Mocha suite in which I'm trying to tear down and re-create a `ldf-client` (and a `ldf-server`) using `beforeEach()` / `afterEach()`. However, I can't seem to find a way to force the client to close its connections. `.abortAll()` does not seem to work. The moment the `ldf-server` destroys the connection, `ECONNREFUSED` comes up. Any tips?

EDIT: branch is `feature

[2017-10-09 17:25] elf-pavlik commented on #12
@bergos based on https://github.com/beautifulinteractions/node-quadstore/issues/50#issuecomment-334885366 it looks like Quads will land very soon https://github.com/LinkedDataFragments/Client.js/commits/feature-qpf-latest

[2017-10-10 07:57] joachimvh commented on #38
Trying to reproduce this, can you give an example of a query where this occurred? Also: did you execute it on fragments.dbpedia.org itself or one of its sub-endpoints?

[2017-10-10 08:44] mielvds commented on #38
it is more likely to happen when using `http://fragments.dbpedia.org/en` instead of `http://fragments.dbpedia.org/2016-04/en`

[2017-10-12 08:15] joachimvh commented on #39
For now the abortAll function has been updated to make sure it will always stop all connections (in the develop branch, so will have to be added to the other branches too). This is still not a completely clean solution as abortAll was intended as a hackish way to quickly disable the system (for the browser client).

So the safest solution would probably be to catch the errors when closing in the a

[2017-10-12 22:57] jacoscaz commented on #39
For anyone interested, the `stoppable` module (https://github.com/hunterloftis/stoppable) tracks the state of http connections and allows to shut down a server as soon as possible - keep-alive connections included - while still allowing in-flight requests to go through. Nifty module!

[2017-10-16 19:12] cutup opened #41 "ERROR: Query execution could not start."
This Error return after execute a query.

~/Client.js# bin/ldf-client http://fragments.dbpedia.org/2015/en queries/union.sparql
ERROR: Query execution could not start.

The query is not yet supported
Object function Object() { [native code] } has no method 'assign'

[2017-10-16 19:13] RubenVerborgh commented on #41
Your Node.js version is too old, please use 4.x or up.

[2017-10-16 19:13] #41 closed

[2017-10-16 19:46] cutup commented on #41
it works. thanks :-)

[2017-10-18 17:20] sharpaper opened #42 "What is ldf-client-http?"
Would be useful to add an explanation in README, in particular the difference with `ldf-client`.

[2017-10-18 23:15] rubensworks commented on #42
With `ldf-client-http`, you can start the client and make it act like a SPARQL endpoint, so it supports the [SPARQL protocol](https://www.w3.org/TR/sparql11-protocol/).
We mainly use this ourselves for benchmarking.

You can for example expose a SPARQL endpoint over DBpedia on port 8080 by running `ldf-client-http fragments.dbpedia.org/2016-04/ -p 8080`. It is configured in pretty much the same wa

[2017-10-19 05:28] sharpaper commented on #42
So the stack is this?

[code]

[2017-10-19 05:30] rubensworks commented on #42
In most cases, yes.
But it's also perfectly possible to run one (or more) LDF servers on one machine, and run ldf-client-http on that same machine.

[2017-10-20 10:19] jacoscaz commented on #42
I will test this soon as this would allow `node-quadstore` to complete its HTTP API with a SPARQL endpoint, which would be quite neat. As soon as I get around to this I should be able to contribute some documentation.

[2017-10-20 19:32] akuckartz opened #43 "Unhandled 'error' event"
Any suggestion what might be going wrong here? I am executing
[code]
and the result is:
[code]

[2017-10-20 19:40] mielvds commented on #43
The uri http://dbpedia.org/resource/Citro\\u00EBn_Traction_Avant is invalid. This is because the server allows for invalid uris in its datasource, but the client doesn't. Fix your data in your datasource (probably HDT?) and everything will be fine

@RubenVerborgh shouldn't N3.js prevent you from serializing invalid URIs, since it doesn't parse them?

[2017-10-20 19:50] RubenVerborgh commented on #43
@akuckartz My bet is that a) this interface is using an HDT backend b) with an invalid HDT file that was generated without specifying `-f turtle`. The default parser of HDT was broken (and has since been removed).

@mielvds The problem is that the HDT module passes invalid IRIs to the writer. The N3.js parser, which would detect this, is never involved on the server (only on the client).

[2017-10-20 20:03] akuckartz commented on #43
Thanks a lot for the quick reply!

So this HDT file I mentioned in https://github.com/LinkedDataFragments/Server.js/issues/60#issuecomment-338014627 likely is broken: http://gaia.infor.uva.es/hdt/dbpedia2015.hdt.gz

[2017-10-21 06:13] akuckartz commented on #43
I seem to have stumbled upon errors in the HDT file resulting from these issues (when they still existed): https://github.com/rdfhdt/hdt-cpp/issues/12 and https://github.com/rdfhdt/hdt-cpp/issues/91

I think I should ask the maintainer of http://gaia.infor.uva.es/hdt/ to recreate the file.

[2017-10-21 21:13] akuckartz commented on #10
See the paper  [Client-side Processing of GeoSPARQL Functions with Triple Pattern Fragments](http://ceur-ws.org/Vol-1809/article-06.pdf) by Christophe Debruyne, Eamonn Clinton and Declan O’Sullivan.

They created an implementation: https://github.com/chrdebru/Client.js

Can this be integrated into the  LinkedDataFragments/Client.js ? @chrdebru

[2017-10-23 09:52] jacoscaz commented on #42
I've ended up porting some of `ldf-client-http`'s code into `node-quadstore` while doing away with the `child process.spawn()` invocation as I did not want to burden the SPARQL endpoint with an additional HTTP roundtrip and/or starting a separate process per query. See https://github.com/beautifulinteractions/node-quadstore/blob/devel/lib/http/controllers/sparql.js .

@rubensworks @RubenVerborgh s

[2017-10-23 23:31] rubensworks commented on #42
@jacoscaz Indeed, for the new client we should move this logic to a separate reusable module. I'll post something here once we have done this :-)

[2017-11-30 15:48] obkhan commented on #37
Hi - just curious when the next release is planned, or should try the QPF branch if it's down the road a bit?

[2017-11-30 21:55] obkhan opened #44 "question regarding DESCRIBE / CONSTRUCT queries and RDF export"
If a URI is provided can the server return RDF/turtle/JSON-LD or other formats to the client.js to convert?

I've tried a DESCRIBE query without much luck:
DESCRIBE `<http://dbpedia.org/resource/12_Monkeys>`

similar

CONSTRUCT {`<http://dbpedia.org/resource/12_Monkeys>` ?p ?o
?o ?p1 ?o1 .
}
WHERE
{`<http://dbpedia.org/resource/12_Monkeys>` ?p ?o .
OPTIONAL {
?o ?p1 ?o1 .
FILTER (ISBLANK (?o))
}
}

[2017-11-30 22:24] dallemang commented on #44
There is a syntax error in that query - a "." left off the end of the first line.    Is that an issue?

[2017-11-30 23:11] obkhan commented on #44
@dallemang  -You are indeed correct!

CONSTRUCT {<http://dbpedia.org/resource/12_Monkeys> ?p ?o .
?o ?p1 ?o1 .
}
WHERE
{<http://dbpedia.org/resource/12_Monkeys> ?p ?o .
OPTIONAL {
?o ?p1 ?o1 .
FILTER (ISBLANK (?o))
}
}

Requesting http://fragments.dbpedia.org/2016-04/en
Requesting http://fragments.dbpedia.org/2016-04/en?subject=http%3A%2F%2Fdbpedia.org%2Fresource%2F12_Monkeys
Requesting http://fra

[2017-11-30 23:18] rubensworks commented on #44
@obkhan Yes, `CONSTRUCT` queries will serialize by default to turtle. You can change this format by adding a `format` entry to your config file. For example, `format: 'N-Triples'`.

Note that the `ISBLANK` operator is not supported, which is why your query fails.

[2017-11-30 23:33] dallemang commented on #44
Are any of the introspective things supported, e.g., ISIRI?

Also, in a HTTP setting, could we have it respond to a mimetype, and return sometimes RDF/XML, sometimes TTL, sometimes JSON-LD?

[2017-11-30 23:44] rubensworks commented on #44
As far as I know, the current client does not support this at the moment.
A new client is however in development that should support these kind of operators.

`ldf-client-http` does in fact consider mine types when responding to HTTP requests for the supported serializations (`--listformats`).

[2017-12-28 15:18] MadsHolten opened #46 "LDF and Angular.io"
I am playing around with the LDF client and was hoping to get it to work with Angular, but I am facing some problems.

I have made a very simple test app that should just log the query results to the console: https://github.com/MadsHolten/angular-ldf

Essentially all the code is in src/app/app.component.ts for now (will be in a service later). I believe the problem occurs when I try to initialize

[2018-01-02 06:38] rubensworks commented on #46
@MadsHolten What problem are you experiencing exactly? Is it crashing, if so, can you provide the crashlog? Or is it simply not doing anything?

[2018-01-02 07:21] MadsHolten commented on #46
@rubensworks I get the following compile error, mentioning a critical dependency:
[code]

It still compiles, and when I view it in the browser, it writes the following error to the console:
[code]

Happy new year BTW :)

[2018-01-02 07:28] rubensworks commented on #46
@MadsHolten Happy new year to you as well!

It seems to be a Webpack-related issue. I don't have any experience with either Angular or Webpack myself, so I'm not sure if I'll be able to help you resolve this issue.

In any case, we support [Browserify](https://github.com/LinkedDataFragments/Client.js#browser-version). I'm not sure how Webpack would handle this, but you could try running this brows

[2018-01-02 07:52] MadsHolten commented on #46
@rubensworks Okay. When building an Angular app with the CLI it uses webpack as default, so it would be great if you figure this out at some point. I believe Angular is quite widely used.

Since Angular uses Observables for data streams I will also have to figure out how it aligns with asynciterator.

Thanks for your help anyway, and great work with the LDF!

[2018-01-28 13:29] passingthru opened #47 "Client not requesting next page (custom server)"
<details>
 <summary>Client sends request:</summary>

[code]
</details>

<details>
 <summary>My server responds:</summary>

[code]
</details>

The client loads the first 100 but doesnt follow up. As you can see there is a hydra:next so it should load next 100 right? Am i missing something? Is there something wrong with the server response?

[2018-01-28 14:17] RubenVerborgh commented on #47
Which server are you using?

Since you are requesting `http://10.0.2.2:49881/Dataset/0`, the response should contain a triple
[code]

However, it only contains a triple

[code]

[2018-01-29 02:42] passingthru commented on #47
I am trying to make my own server in asp.net and c#. I tried removing the ?offset=0, unfortunately it did not help. I also tried changing offset parameter to paging.
<details>
<summary>I tried poking in your clients code, adding console.log(links); in lib/extractors/ControlExtractor.js:</summary>

[code]
</details>

Then I ran the client against your Node.js server and against my C# server with sa

[2018-01-29 15:05] RubenVerborgh commented on #47
Must be another issue then. This was certainly a problem.

That will note make any difference; the client just follows links, regardless of what they look like.

The links look good!

Can you give us the full server response, and the exact command to invoke the client? (Perhaps in a gist?)

[2018-01-30 13:16] joachimvh opened #48 "Possible performance difference between ldf-client and ldf-client-http"
The following query was executed both on `ldf-client` and `ldf-client-http`:

[code]

Using `ldf-client`, for me this gets executed in +- 1200ms. On the other hand, with `ldf-client-http` and the following code to send the query, it takes +- 1700ms before the stream is terminated (same machine).

[code]

I tried one other query (select 10000 triples) but there I had slowdown due to printing all th

[2018-01-30 13:37] joachimvh commented on #48
Also tested this with curl:

[code]

Which has pretty much the same result. Also didn't realize this but I still had the timer in `ldf-client` so I also got the result from that (since `ldf-client-http` spawns a process of `ldf-client`) and the result there corresponded to the original `ldf-client` result. So the delay is probably somewhere in the spawning the or http communication.

[2018-01-30 14:09] RubenVerborgh commented on #48
Makes me wonder about https://github.com/LinkedDataFragments/Client.js/blob/v2.0.5/bin/ldf-client-http#L99 again too.

[2018-01-31 13:00] passingthru commented on #47
I tried to mimick your nodejs server response as close as i could, still didnt help. I changed the pageSize in PageRouter.js to minimize clutter. Both servers are set for 1 triple per page and there are 3 result triples for the query below.

I run the client against your nodejs server with:
`ldf-client http://10.0.3.2:49881/0 queries/a.sparql`

and against my c# server with:
`ldf-client http://10.

[2018-01-31 13:04] RubenVerborgh commented on #47
@rubensworks Can you check? If you don't see it, feel free to reassign to me.

[2018-01-31 14:33] passingthru commented on #47
I think I got close to the problem, i put another console.log(linkTargets) in lib/extractors/ControlExtractor.js:
[code]
And on the second request, where theres predicate specified, the console output is:
[code]
So the link targets werent parsed correctly, now I see the problem being the unescaped & near the end. Sorry for bothering you

[2018-01-31 14:59] passingthru commented on #47
Well I think I found the problem, its actually that the encoded characters are lowercase, eg. %2f instead of %2F

[2018-01-31 23:49] rubensworks commented on #47
@passingthru Does making those characters uppercase actually fix the problem?

As the client does no URI component encoding itself (AFAIK), only URI decoding, it should be able to handle both uppercase and lowercase encodings.

Could you try adding a break-point in the client here?: https://github.com/LinkedDataFragments/Client.js/blob/86bc98b5b41760ca9be19382df33359389ac4125/lib/triple-pattern-fr

[2018-02-01 00:25] passingthru commented on #47
Im not that good with javascript, all I was able to do is add console.log() in the ControlsExtractor.js like this:
[code]
Console output for lowercase:
https://gist.github.com/passingthru/f9cd755102eef528c55a700b2583bd66

Console output for uppercase:
https://gist.github.com/passingthru/77254c16ae9f351e01b833108a4184c8

If you compare the second block, line 15 you can see that the lowercase has un

[2018-02-01 00:50] rubensworks commented on #47
@passingthru Could you print `controls.fragment` as well? It looks like that may be incorrect for some reason.

[2018-02-01 01:12] passingthru commented on #47
lowercase:
https://gist.github.com/passingthru/30227bebc82ea9ac5a34cdc91b78f053

uppercase:
https://gist.github.com/passingthru/5a507dc9da28f25aeeb601eca1020996

[2018-02-01 01:39] rubensworks commented on #47
Ok, now it's clear what goes wrong.

The client performs the request using uppercase encodings.
The C# server correctly interprets these encodings and handles the request.
However, the C# server re-encodes the pattern using lowercase encodings to form its response, while it should in fact use the URL that has been requested by the client as-is (which could use uppercase encodings).

The URLs with

[2018-02-01 15:16] RubenVerborgh commented on #47
Indeed, @rubensworks nailed it. The IRIs should be exactly the same, that's how they're compared in the RDF model.

[2018-03-02 09:51] cKlee commented on #29
I'm getting the same error
[code]
Server is running on port 3000 with 4 threads on a machine with 4 CPU and 16 GB memory. Caching with Apache is enabled (and working).

This happens always after a long client runtime of 2h or so. I'm always inspecting memory and CPU usage but I cannot see any overloading (I have only one machine with server, client and other processes running parallel). But lookin

[2018-03-02 11:10] RubenVerborgh commented on #29
Do you see any evidence of a high number of open connections?

[2018-03-02 11:11] cKlee opened #49 "Query optimization"
In federated queries I wonder if the number of request can be reduced dramatically without extensive changes to the query algorithm. In a simplified example I have two data sources D1 and D2 and a query:

[code]
The client requests the following

[code]

Now all 500.000 ?gnd bindings are requested for both! data source:

[code]
So there will be a million requests (plus the page requests on D1). Bu

[2018-03-02 11:24] cKlee commented on #29
I guess
[code]

The number of active/passive connections openings are increasing while client is working.

[2018-03-02 11:26] RubenVerborgh commented on #29
^ that's it. This right there is the main issue for this problem. Now what I want to figure out is whether these connections are between Apache and the LDF server, or the client and Apache. Any insight there?

[2018-03-02 11:29] cKlee commented on #29
How can I check this?

[2018-03-02 11:31] RubenVerborgh commented on #29
Is your client running on a different machine? If so, keep an eye on the connections of that machine.

Otherwise, I wonder whether Apache can give you stats about this. A full`netstat` view should also show the from and to of the connections.

[2018-03-02 11:51] cKlee commented on #29
Client is running on the same machine. Is this helpful?
[code]

[2018-03-02 11:55] RubenVerborgh commented on #29
Thanks! I see lots of connections between Apache and the LDF server. Apache should recycle connections, I wonder why that's not happening, and I wonder whether the problem is on the Apache or the LDF server side.

[2018-03-02 12:02] cKlee commented on #29
Then maybe it is related to https://serverfault.com/questions/538988/apache-2-4-not-closing-connections

[2018-03-02 12:10] mielvds commented on #49
This is an example of local optimization turned sub-optimal, also called greedy.
Low-hanging fruit though, would be easy to implement. I'll have a look if I can add it. Else, I put it on a list with future optimizations to implement them in a more sustainable way. Adding these adhoc will not last, especially because a new version of this client is out soon.

[2018-03-02 13:15] RubenVerborgh commented on #29
I wonder whether the client is to blame, i.e., whether the same thing would also occur if the identical series of requests was made through curl. We need to run some tests on this.

[2018-03-05 05:30] cKlee commented on #49
Looking forward to it. Thanks!

[2018-03-07 08:07] cKlee commented on #29
Looks like caching was my problem. After I disabled caching the error does not occur anymore. While filling the cache with a hundred thousands of requests, htcacheclean wasn't able to keep memory/disk space at a certain level (maybe because of a to high value for cache expiration):

[code]

This could mean that I was running out of inodes, which I suppose has something to do with CacheDirLength an

[2018-03-07 14:51] RubenVerborgh commented on #29
Interesting. Thanks for sharing.

[2018-05-02 16:37] ColinMaudry commented on #42
Some documentation on how to configure, run and query ldf-client-http would be really cool :)

[2018-05-03 16:58] ColinMaudry opened #50 "DESCRIBE query support"
Hi there :)

I am unsure whether DESCRIBE queries are supposed to be supported by the current LDF server/client versions.

DESCRIBE support seems to have been enabled by [certain commits](https://github.com/LinkedDataFragments/Client.js/search?q=describe&type=Commits). However, my testing with ldf-client@2.0.5 and ldf-server@2.2.3 seem to indicate it's not supported.

No problem with SELECT and CO

[2018-05-03 17:37] RubenVerborgh commented on #50
Well, it's supported, but apparently there's a bug that prevents it from working. Probably something small.

[2018-05-11 13:13] cKlee commented on #16
I would (still) appreciate if you add this feature.  I have no idea where to put a proxy setting. Otherwise I would make a PR, but I can't.

[2018-05-11 13:25] RubenVerborgh commented on #16
@cKlee Would `proxychains` help you in the meantime?

[2018-07-20 10:09] mathib commented on #42
Hi! First of all: awesome work with LDF server/client!

I would like to use ldf-client-http so quickly setup a low cost demo SPARQL endpoint for a small amount of triples and I think ldf-client-http would be very useful here. I was wondering if there is an overview of the implemented SPARQL functionality of the ldf-client-http? I found that there are issues with the following:
* COUNT (no error, b

[2018-07-20 11:00] rubensworks commented on #42
@mathib That functionality is indeed not implemented in ldf-client, and will (most likely) not be in the future.

However, our new (modular) client can be found here: https://github.com/comunica/comunica/tree/master/packages/actor-init-sparql (it can also be [started as a HTTP service](https://github.com/comunica/comunica/tree/master/packages/actor-init-sparql#usage-from-http))
It supports all fea

[2018-11-06 08:08] rubensworks commented on #50
Fixed in 84cb9ec71671cfce8278b50c469d09727238f283

[2018-11-06 08:08] #50 closed

[2018-11-06 08:08] #47 closed

[2018-11-06 08:10] rubensworks commented on #46
For reference, [comunica](https://github.com/comunica/comunica/) is the next iteration of Client.js, which is tested to work with Webpack.

[2018-11-06 08:10] #46 closed

[2018-11-06 08:11] #37 closed

[2019-07-29 17:50] bergos commented on #12
I will close this issue as the requested feature is supported by the successor [Comunica](https://github.com/comunica).

[2019-07-29 17:50] #12 closed

[2020-02-05 08:56] rubensworks commented on #4
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where the requested feature is supported.

[2020-02-05 08:56] #4 closed

[2020-02-05 08:57] rubensworks commented on #5
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), if you are still interested in this, feel free to create a new issue there.

[2020-02-05 08:57] #5 closed

[2020-02-05 08:57] rubensworks commented on #10
Following up in #411.

[2020-02-05 08:57] #10 closed

[2020-02-05 08:58] rubensworks commented on #13
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this feature is supported.

[2020-02-05 08:58] #13 closed

[2020-02-05 08:58] rubensworks commented on #16
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this feature is supported.

[2020-02-05 08:58] #16 closed

[2020-02-05 08:59] rubensworks commented on #14
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), if this issue is still relevant to you, feel free to open a new issue there.

[2020-02-05 08:59] #14 closed

[2020-02-05 08:59] rubensworks commented on #42
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), if this issue is still relevant to you, feel free to open a new issue there.

[2020-02-05 08:59] #42 closed

[2020-02-05 08:59] rubensworks commented on #44
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), if this issue is still relevant to you, feel free to open a new issue there.

[2020-02-05 08:59] #44 closed

[2020-02-05 08:59] rubensworks commented on #49
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), if this issue is still relevant to you, feel free to open a new issue there.

[2020-02-05 08:59] #49 closed

[2020-02-05 09:00] rubensworks commented on #24
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:00] #24 closed

[2020-02-05 09:00] rubensworks commented on #25
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:00] #25 closed

[2020-02-05 09:00] rubensworks commented on #29
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:00] #29 closed

[2020-02-05 09:00] rubensworks commented on #38
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:00] #38 closed

[2020-02-05 09:01] rubensworks commented on #39
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:01] #39 closed

[2020-02-05 09:01] rubensworks commented on #43
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:01] #43 closed

[2020-02-05 09:01] rubensworks commented on #48
This project has now been deprecated in favor of [Comunica](https://github.com/comunica/comunica), where this should not be a problem anymore. If it is, feel free to open a new issue there.

[2020-02-05 09:01] #48 closed